<div class="ui one cards" style="padding: 2px">

	<div class="ui card">
		<div class="content">
            <div class="header">
                Project title
            </div>
            <div class="meta">
            	Last updated 1 day ago
            </div>

            <div class="description">
                <div class="ui progress success">
				  	<div class="bar"></div>
				  	<div class="label">Progress to completion</div>
				</div>
            </div>
        </div>
    </div>
    <div class="ui card">
		<div class="content">
            <div class="header">
                Requisition
            </div>
            <div class="meta">
            	Last updated 3 days ago
            </div>
            
            <div class="description">
				<div class="ui breadcrumb">
				    <div class="section">Complainant</div>
				    <i class="right arrow icon divider"></i>
				    <div class="section">Junior Engg. (Civil)</div>
				    <i class="right arrow icon divider"></i>
				    <div class="active section">Asst. Engg.</div>
				</div>
            </div>
        </div>
    </div>
    <div class="ui card">
		<div class="content">
            <div class="header">
                Project title
            </div>
            <div class="meta">
            	Last updated 5 days ago
            </div>

            <div class="description">
                <div class="ui progress success">
				  	<div class="bar"></div>
				  	<div class="label">Progress to completion</div>
				</div>
            </div>
        </div>
    </div>
</div>